<script>

    $('#register-button').click(function() {
        var email = $('#user_email').val();
        var name = $('#name').val();
        var password = $('#password').val();

        $.ajax({
            type: "POST",
            url: "/register",
            data: {
                email: email,
                name: name,
                password: password
            },
            success: function (response) {

            },
            error: function (response) {

            },
            complete: function(){

            }
        })
    })

</script>